.display{
    padding: 3em 15em;
}

.title{
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: 0 4em;
    margin-bottom: 3em;
}

.question{
    padding: .5em 2em;
    margin-bottom: 1em;
}

.information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
}

.information > h1{
    font-size: 1.4em;
    font-weight: bold;
}

.information > h2{
    font-size: 1.1em;
}

.questions_table{
    display: flex;
    flex-direction: column;
    background-color: #553faddc;
    border: 1px solid #9683e2;
    border-radius: 1.5em;
    text-align: left;
    padding: .3em 2em;
    gap: .2em;
}

.option_button{
    text-align: left;
    height: 2.5em;
    cursor: pointer;
    padding-left: 1.5em;
    border-radius: .5em;
    font-size: .9em;
    gap: 10em;
}

.option_button:hover{
    background-color: #6d4de2;
}

.option_button_selected{
    background-color: #421dc5;
}

.outro_input{
    margin-left: 1em;
    width: 80%;
    border-radius: .5em;
}

.question_title{
    font-size: 1.2em;
    margin-bottom: 1em;
}

.questions_display{
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.navigation_area{
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
}

.scale_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.scale_slider {
    width: 80%;
    appearance: none;
    height: 6px;
    border-radius: 3px;
    background: #7b5fe2;
    outline: none;
    cursor: pointer;
}

.scale_slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4e28d6;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.scale_slider::-webkit-slider-thumb:hover {
    background: #3a1ca7;
}

.scale_labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 0.5rem;
}

.scale_label {
    font-size: 1rem;
    color: #ffffff;
}

.scale_label_selected {
    color: #7454e9;
    font-weight: bold;
}

.multi_progress {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #dadada;
    text-align: right;
}

.dimension_buttons{
    display: flex;
    justify-content: space-between;
    height: 3em;
    margin: 1em 0;
}

.dimension_button{
    background: linear-gradient(170deg, rgba(255, 9, 95, 1) 0%, rgb(255, 37, 113) 50%, rgb(255, 65, 132) 100%);
    padding: .8em 1.5em;
    border-radius: .8em;
    display: flex;
    gap: .5em;
    cursor: pointer;
    border: 1px solid rgb(255, 164, 196);
}

.open_input{
    width: 100%;
}