.pink_button{
    background: linear-gradient(170deg, rgba(255, 9, 95, 1) 0%, rgb(255, 37, 113) 50%, rgb(255, 65, 132) 100%);
    padding: .8em 1.5em;
    border-radius: .8em;
    display: flex;
    gap: .5em;
    cursor: pointer;
    border: 1px solid rgb(255, 164, 196);
}

.pink_button_unavailable{
    background: #4e31c296;
    color: rgba(255, 9, 95, 1);
    padding: .8em 1.5em;
    display: flex;
    gap: .5em;
    border-radius: .8em;
    border: 1px solid rgba(255, 9, 95, 1);
}