.inputContainer {
  position: relative;
}

.inputBase {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 12px 16px 12px 42px;
  color: white;
  outline: none;
  transition: 0.2s;
}

.inputBase::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.inputBase:focus {
  border-color: #ff7fe5;
  box-shadow: 0 0 0 2px rgba(255, 127, 229, 0.2);
}

.iconLeft {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 127, 229, 0.5);
}

/* Estilo do SELECT */
.selectBase {
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' width='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,10'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 40px;
}